.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 78px;
    margin-bottom: 80px;
}

.innerContainer {
    width: 1220px;
    display: flex;
    justify-content: space-between;
}

.rightSide {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70px;
}

