@font-face {
    font-family: 'Raleway';
    src: url('../public/fonts/Raleway-Regular.ttf') format('woff2');
    font-weight: 100;
    font-style: normal;
}

/* @font-face {
    font-family: 'Raleway';
    src: url('../public/fonts/Raleway-Bold.ttf') format('woff2');
    font-weight: 500;
    font-style: normal;
} */

body {
    margin: 0;
    font-family: Raleway, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    }

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
