.container {
    text-align: left;
    height: 444px;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 103px;
    padding: 16px;
    box-sizing: border-box;
    position: relative;
}

.selected {
    box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.19);
}

.dimmed {
    opacity: 0.5;
}

.imageContainer {
    position: relative;
}

.image {
    margin-bottom: 24px;
}

.outOfStock {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    font-size: 24px;
}

.title {

}

.price {
    font-weight: 500;
}

.cart {
    position: absolute;
    bottom: 72px;
    right: 31px;
}
